.toprighters {
    position: fixed;
    top: 8px;
    right: 16px;
    font-size: 12px;
}

#googDiv {
    padding: 13% 20% 10% 35%;
}

#butmod {
    position: relative;
    left: 13%;
}

#butmod2 {
    position: relative;
    left: 25%;
}

.input-bar {
    width: 584px;
    border-color: #fff;
    border-style: groove;
    margin: 0 auto;
    padding-top: 6px;
    position: relative;
    border-radius: 25px;
    position: relative;
    right: 60px;
}
